
main.nosotros {
    display: flex;
}

main.nosotros > section {
    flex-basis: 50%;
}

main.nosotros section.info {
    padding: 30px;
}

main.nosotros section.imgsection.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

main.nosotros section.imgsection.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

main.nosotros section.info.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(+100%);
    transition: all 1s;
}

main.nosotros section.info.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media (max-width: 72.5em){
    main.nosotros {
        flex-direction: column-reverse;
    }
    main.nosotros > section {
        flex-basis: 100%;
    }
}

